{
  "swagger" : "2.0",
  "info" : {
    "description" : "La Cour de cassation, dans le cadre de la refonte de son site Web, a initié le projet JUDILIBRE visant à la conception et au développement en interne d'un moteur de recherche dans le corpus jurisprudentiel, mettant celui-ci à disposition du public dans l'esprit du décret sur l'Open Data des décisions de justice.",
    "version" : "1.0.0",
    "title" : "JUDILIBRE",
    "contact" : {
      "name" : "Sébastien COURVOISIER",
      "email" : "sebastien.courvoisier@justice.fr"
    }
  },
  "host" : "sandbox-api.piste.gouv.fr",
  "basePath" : "/cassation/judilibre/v1.0",
  "schemes" : [ "https", "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "SecurityProfile.API Key" : [ ]
  }, {
    "SecurityProfile.OAuthApplication" : [ "openid" ]
  } ],
  "paths" : {
    "/scan" : {
      "get" : {
        "summary" : "Permet d'effectuer un export par lot de décisions de justice.",
        "description" : "Destiné aux utilisateurs désirant procéder à leur propre indexation et mise à disposition du contenu, ce point d'entrée leur permet de récupérer des lots de décisions complètes suivant des paramètres et critères simples :\n\n* Nature de décision (filtre) ;\n* Matière (filtre) ;\n* Chambre et formation (filtre) ;\n* Juridiction et commission (filtre) ;\n* Niveau de publication (filtre) ;\n* Type de solution (filtre) ;\n* Intervalle de dates (date de création ou de mise à jour) (filtre) ;\n* Date (tri) ;\n* Nombre de décisions par lot, index du lot (navigation).\n\nL'export par lots est limité par défaut (pour une connexion non authentifiée) à 10 résultats par lot, pour un maximum de 1000 résultats au total.",
        "operationId" : "scan",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Filtre les résultats suivant la natures des décisions (parmi les valeurs : `arret`, `qpc`, `ordonnance`, `saisie`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=type`). Un export avec un paramètre `type` vide ou manquant retourne des décisions de toutes natures.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "theme",
          "in" : "query",
          "description" : "Filtre les résultats suivant la matière (nomenclature de la Cour de cassation) relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=theme`). Un export avec un paramètre `theme` vide ou manquant retourne des décisions relatives à toutes les matières.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "chamber",
          "in" : "query",
          "description" : "Filtre les résultats suivant la chambre relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=chamber`). Un export avec un paramètre `chamber` vide ou manquant retourne des décisions relatives à toutes les chambres.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "formation",
          "in" : "query",
          "description" : "Filtre les résultats suivant la formation relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=formation`). Un export avec un paramètre `formation` vide ou manquant retourne des décisions relatives à toutes les formations.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "jurisdiction",
          "in" : "query",
          "description" : "Filtre les résultats suivant la juridiction relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=jurisdiction`). Un export avec un paramètre `jurisdiction` vide ou manquant retourne des décisions relatives à la Cour de cassation (`cc`).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "Filtre les résultats suivant le code du siège de juridiction ayant émis les décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=location&context_value=ca` pour les cours d'appel et `GET /taxonomy?id=location&context_value=tj` pour les tribunaux judiciaires). Par exemple : `GET /export?...&location=ca_paris`. ",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "publication",
          "in" : "query",
          "description" : "Filtre les résultats suivant le niveau de publication des décisions (parmi les valeurs : `b`, `r`, `l`, `c`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=publication`). Un export avec un paramètre `publication` vide ou manquant retourne des décisions de n'importe quel niveau de publication.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "solution",
          "in" : "query",
          "description" : "Filtre les résultats suivant le type de solution des décisions (parmi les valeurs : `annulation`, `avis`, `cassation`, `decheance`, `designation`, `irrecevabilite`, `nonlieu`, `qpc`, `rabat`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=solution`). Un export avec un paramètre `solution` vide retourne des décisions ayant n'importe quel type de solution.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "date_start",
          "in" : "query",
          "description" : "Combiné avec le paramètre `date_end`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z).",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "date_end",
          "in" : "query",
          "description" : "Combiné avec le paramètre `date_start`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z).",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "abridged",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra la version abrégée des décisions (sans texte intégral ni métadonnées détaillées, vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "date_type",
          "in" : "query",
          "description" : "Type de date à prendre en compte pour l’intervalle de dates fourni pour l’export (vaut `creation` ou `update`).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Permet de choisir l’ordre du tri des décisions exportées ('asc' pour un tri par date chronologique ou 'desc' pour un tri par date antichronologique, vaut 'asc' par défaut).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "batch_size",
          "in" : "query",
          "description" : "Permet de déterminer le nombre de résultats retournés par lot (1000 maximum, vaut 10 par défaut).",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "search_after",
          "in" : "query",
          "description" : "L'ID de la décision à partir de laquelle chercher le prochain batch de résultats (fourni par la réponse de la requête précédente).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resolve_references",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra, pour chaque information retournée par défaut sous forme de clé, l'intitulé complet de celle-ci (vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "withFileOfType",
          "in" : "query",
          "description" : "Filtre les résultats suivant le type de documents associés aux décisions, parmi les valeurs : `prep_rapp` (Rapport du rapporteur), `prep_avis` (Avis de l’avocat général), `prep_oral` (Avis oral de l’avocat général), `comm_comm` (Communiqué), `comm_note` (Note explicative), `comm_nora` (Notice au rapport annuel), `comm_lett` (Lettre de chambre), `comm_trad` (Arrêt traduit). Les valeurs disponibles sont accessibles via `GET /taxonomy?id=filetype`.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "particularInterest",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête sera restreint aux décisions qualifiées comme présentant un intérêt particulier (vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Export effectué avec succès.",
            "schema" : {
              "$ref" : "#/definitions/exportBatch"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "401" : {
            "description" : "Authentification requise."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "403" : {
            "description" : "Permissions insuffisantes."
          },
          "416" : {
            "description" : "La plage d'informations demandée est incorrecte ou ne peut pas être satisfaite."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    },
    "/decision" : {
      "get" : {
        "summary" : "Permet de récupérer le contenu intégral d'une décision.",
        "description" : "Connaissant l'identifiant unique d'une décision, le point d'entrée `GET /decision` permet d'en récupérer le contenu intégral (structuré, mais sans mise en forme), à savoir :\n\n* L'identifiant de sa juridiction ;\n* L'identifiant de sa chambre ;\n* Sa formation ;\n* Son numéro de pourvoi ;\n* Son ECLI (« European Case Law Identifier » : identifiant européen de la jurisprudence) ;\n* Son code NAC ;\n* Son niveau de publication ;\n* Son numéro de publication au bulletin ;\n* Sa solution ;\n* Sa date ;\n* Son texte intégral ;\n* Les délimitations des principales zones d'intérêt de son texte intégral (introduction, exposé du litige, moyens, motivations, dispositif et moyens annexés) ;\n* Ses éléments de titrage ;\n* Son sommaire ;\n* Ses documents associés (communiqué, note explicative, traduction, rapport, avis de l'avocat général, etc.) ;\n* Les textes appliqués ;\n* Les rapprochements de jurisprudence.\n\nCertaines des informations ne sont retournées que sous forme de clé ou d'identifiant numérique (juridiction, chambre, niveau de publication, etc.). Il convient dès lors d'utiliser le point d'entrée `GET /taxonomy` pour en récupérer l'intitulé complet, ou d'effectuer la requête en utilisant le paramètre `resolve_references=true`.",
        "operationId" : "decision",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Identifiant de la décision à récupérer.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "resolve_references",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra, pour chaque information retournée par défaut sous forme de clé, l'intitulé complet de celle-ci (vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Chaîne de caractères correspondant à la recherche. Ce paramètre est utilisé pour surligner en retour, dans le texte intégral de la décision, les termes correspondant avec la recherche initiale (ces termes étant délimitées par des balises `<em>`).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "operator",
          "in" : "query",
          "description" : "Opérateur logique reliant les multiples termes que le paramètre `query` peut contenir (`or` par défaut, `and` ou `exact` – dans ce dernier cas le moteur recherchera exactement le contenu du paramètre `query`).",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Décision retournée avec succès.",
            "schema" : {
              "$ref" : "#/definitions/decisionFull"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "401" : {
            "description" : "Authentification requise."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "403" : {
            "description" : "Permissions insuffisantes."
          },
          "404" : {
            "description" : "Décision introuvable."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    },
    "/healthcheck" : {
      "get" : {
        "summary" : "Permet de récupérer l'état de disponibilité du service.",
        "description" : "Ce point d'entrée permet de connaître l'état de disponibilité du service (disponible ou indisponible).",
        "operationId" : "healthcheck",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "État retourné avec succès.",
            "schema" : {
              "$ref" : "#/definitions/health"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    },
    "/transactionalhistory" : {
      "get" : {
        "summary" : "Permet de consulter les actions de publication (create, update, delete) effectués sur la base de donnée.",
        "description" : "Destiné aux utilisateurs désirant procéder à leur propre indexation et mise à disposition du contenu, ce point d'entrée permet de consulter les opérations effectuées sur la base de donnée judilibre afin d'identifier les opérations de synchronisation à effectuer pour rester à jour (notamment les supressions et les mises à jour). Les opérations sont rendues sous forme d'une liste triée par date (ascendante). Lorsque le nombre d'opérations dépasse sa taille allouée de réponse la requête renvoie une querystring, valable pendant une minute, pour consulter la suite des opérations qui n'auraient pas pu être retournée dans le premier envoi.",
        "operationId" : "transactionalhistory",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "date",
          "in" : "query",
          "description" : "Toutes les opérations remontées auront été effectuées en aval de ce champ date renseigné au format ISO-8601 (2021-05-13T06:00:00Z)",
          "required" : true,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Permet de personnaliser le nombre d'opérations obtenu par requête (10 minimum, 500 maximum). Par défaut, l'application remonte 500 opérations ainsi qu'une querystring permettant de requêter les éléments supplémentaires le cas échéant.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "from_id",
          "in" : "query",
          "description" : "Permet d'obtenir les opérations qui suivent cet ID. (Nous conseillons d'utiliser simplement la querystring disponible en réponse lors de la consultation d'une liste dépassant la taille d'une seule requête).",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Recherche effectuée avec succès.",
            "schema" : {
              "$ref" : "#/definitions/transactionalhistory"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "401" : {
            "description" : "Authentification requise."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "403" : {
            "description" : "Permissions insuffisantes."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    },
    "/search" : {
      "get" : {
        "summary" : "Permet d'effectuer une recherche dans les données ouvertes des décisions de justice.",
        "description" : "Le point d'entrée `GET /search` permet d'effectuer une recherche dans la base de données ouverte des décisions de justice, suivant les paramètres, filtres et critères suivants :\n\n* Texte en saisie libre, lequel sera mis en correspondance avec tout ou partie du contenu des décisions ;\n* Le mode de mise en rapport des termes de la recherche (*ou*, *et*, expression exacte) ;\n* Contenu ciblé par la recherche : décision intégrale, zones spécifiques de la décision (exposé du litige, moyens, motivations, dispositif), sommaire, titrages, numéro de pourvoi, etc. ;\n* Nature de décision (filtre) ;\n* Matière (filtre) ;\n* Chambre et formation (filtre) ;\n* Juridiction et commission (filtre) ;\n* Niveau de publication (filtre) ;\n* Type de solution (filtre) ;\n* Intervalle de dates (filtre) ;\n* Pertinence et date (tri) ;\n* Nombre de résultats par page et index de la page de résultats affichée (navigation).\n\nLa pertinence de la recherche équivaut à un score calculé par Elasticsearch à partir de la correspondance entre le texte en saisie libre et le contenu recherché. Par défaut, le moteur de recherche retourne les résultats classés par pertinence décroissante.\n\nLes filtres sélectionnés ne modifient pas le score, mais permettent de retirer des résultats les décisions dont le contenu ne coïncide pas avec eux.\n\nLe résultat de la recherche est nécessairement paginé (avec un maximum de 50 résultats par page, pour un maximum de 10 000 résultats au total) et ne contient qu'un aperçu des décisions trouvées (chacune possédant un identifiant unique).\n\nCertaines des informations ne sont retournées que sous forme de clé ou d'identifiant numérique (juridiction, chambre, niveau de publication, etc.). Il convient dès lors d'utiliser le point d'entrée `GET /taxonomy` pour en récupérer l'intitulé complet, ou d'effectuer la requête en utilisant le paramètre `resolve_references=true`.\n\nLe texte intégral et les zones qu'il contient ne sont pas inclus dans les résultats de la recherche.\n\nLa récupération d'une décision complète (incluant son texte et les zones qu'il contient) repose sur le point d'entrée `GET /decision`.",
        "operationId" : "search",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "Chaîne de caractères correspondant à la recherche. Une recherche avec un paramètre `query` vide ou manquant est ignorée et retourne un résultat vide.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "field",
          "in" : "query",
          "description" : "Liste des champs, métadonnées ou zones de contenu ciblés par la recherche (parmi les valeurs : `expose`, `moyens`, `motivations`, `dispositif`, `annexes`, `sommaire`, `titrage`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=field`). Une recherche avec un paramètre `field` vide ou manquant est appliquée à l'intégralité de la décision (introduction et moyens annexés compris) mais va exclure les métadonnées (sommaire, titrage, etc.).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "operator",
          "in" : "query",
          "description" : "Opérateur logique reliant les multiples termes que le paramètre `query` peut contenir (`or` par défaut, `and` ou `exact` – dans ce dernier cas le moteur recherchera exactement le contenu du paramètre `query`).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filtre les résultats suivant la natures des décisions (parmi les valeurs : `arret`, `qpc`, `ordonnance`, `saisie`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=type`). Une recherche avec un paramètre `type` vide ou manquant retourne des décisions de toutes natures.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "theme",
          "in" : "query",
          "description" : "Filtre les résultats suivant la matière (nomenclature de la Cour de cassation) relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=theme`). Une recherche avec un paramètre `theme` vide ou manquant retourne des décisions relatives à toutes les matières.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "chamber",
          "in" : "query",
          "description" : "Filtre les résultats suivant la chambre relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=chamber`). Une recherche avec un paramètre `chamber` vide ou manquant retourne des décisions relatives à toutes les chambres.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "formation",
          "in" : "query",
          "description" : "Filtre les résultats suivant la formation relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=formation`). Une recherche avec un paramètre `formation` vide ou manquant retourne des décisions relatives à toutes les formations.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "jurisdiction",
          "in" : "query",
          "description" : "Filtre les résultats suivant la juridiction relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=jurisdiction`). Une recherche avec un paramètre `jurisdiction` vide ou manquant retourne des décisions relatives à la Cour de cassation (`cc`).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "Filtre les résultats suivant le code du siège de juridiction ayant émis les décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=location&context_value=ca` pour les cours d'appel et `GET /taxonomy?id=location&context_value=tj` pour les tribunaux judiciaires). Par exemple : `GET /search?...&location=tj33063`. ",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "publication",
          "in" : "query",
          "description" : "Filtre les résultats suivant le niveau de publication des décisions (parmi les valeurs : `b`, `r`, `l`, `c`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=publication`). Une recherche avec un paramètre `publication` vide ou manquant retourne des décisions de n'importe quel niveau de publication.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "solution",
          "in" : "query",
          "description" : "Filtre les résultats suivant le type de solution des décisions (parmi les valeurs : `annulation`, `avis`, `cassation`, `decheance`, `designation`, `irrecevabilite`, `nonlieu`, `qpc`, `rabat`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=solution`). Une recherche avec un paramètre `solution` vide retourne des décisions ayant n'importe quel type de solution.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "date_start",
          "in" : "query",
          "description" : "Combiné avec le paramètre `date_end`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z).",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "date_end",
          "in" : "query",
          "description" : "Combiné avec le paramètre `date_start`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z).",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Permet de choisir la valeur suivant laquelle les résultats sont triés (`score` pour un tri par pertinence, `scorepub` pour un tri par pertinence et niveau de publication et `date` pour un tri par date, vaut `scorepub` par défaut).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Permet de choisir l'ordre du tri (`asc` pour un tri ascendant ou `desc` pour un tri descendant, vaut `desc` par défaut).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "Permet de déterminer le nombre de résultats retournés par page (50 maximum, vaut 10 par défaut).",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Permet de déterminer le numéro de la page de résultats à retourner (la première page valant `0`).",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "resolve_references",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra, pour chaque information retournée par défaut sous forme de clé, l'intitulé complet de celle-ci (vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "withFileOfType",
          "in" : "query",
          "description" : "Filtre les résultats suivant le type de documents associés aux décisions, parmi les valeurs : `prep_rapp` (Rapport du rapporteur), `prep_avis` (Avis de l’avocat général), `prep_oral` (Avis oral de l’avocat général), `comm_comm` (Communiqué), `comm_note` (Note explicative), `comm_nora` (Notice au rapport annuel), `comm_lett` (Lettre de chambre), `comm_trad` (Arrêt traduit). Les valeurs disponibles sont accessibles via `GET /taxonomy?id=filetype`.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "particularInterest",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête sera restreint aux décisions qualifiées comme présentant un intérêt particulier (vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Recherche effectuée avec succès.",
            "schema" : {
              "$ref" : "#/definitions/searchPage"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "401" : {
            "description" : "Authentification requise."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "403" : {
            "description" : "Permissions insuffisantes."
          },
          "416" : {
            "description" : "La plage d'informations demandée est incorrecte ou ne peut pas être satisfaite."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    },
    "/taxonomy" : {
      "get" : {
        "summary" : "Permet de récupérer les listes des termes employés par le processus de recherche.",
        "description" : "L'API publique propose la récupération des listes des termes (sous la forme d'un couple clé/valeur) constituants les différents critères et filtres pris en compte par le processus de recherche et les données qu'il restitue, notamment :\n\n* La liste des types de décision (`type`) ;\n* La liste des juridictions dont le système intègre les décisions (`jurisdiction`) ;\n* La liste des chambres (`chamber`) ;\n* La liste des formations (`formation`) ;\n* La liste des niveaux de publication (`publication`) ;\n* La liste des matières (`theme`) ;\n* La liste des solutions (`solution`) ;\n* La liste des champs et des zones de contenu des décisions pouvant être ciblés par la recherche (`field`) ;\n* La liste des zones de contenu des décisions (`zones`) ;\n* etc.\n\nLa publication de cette taxonomie permet principalement au prestataire chargé de l'implémentation du frontend (ainsi qu'à certains réutilisateurs avancés) d'automatiser la constitution des formulaires de recherche et l'enrichissement des résultats retournés.",
        "operationId" : "taxonomy",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Identifiant de l'entrée de taxonomie à interroger (`type`, `jurisdiction`, `chamber`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy` sans paramètre).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "Clé du terme dont on veut récupérer l'intitulé complet (le paramètre `id` est alors requis), par exemple : la requête `GET /taxonomy?id=jurisdiction&key=cc` retournera `Cour de cassation`, tandis que la requête `GET /taxonomy?id=jurisdiction&key=ca` retournera `Cour d'appel`.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "value",
          "in" : "query",
          "description" : "Intitulé complet du terme dont on veut récupérer la clé (le paramètre `id` est alors requis), par exemple : la requête `GET /taxonomy?id=jurisdiction&value=cour%20de%20cassation` retournera `cc`.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "context_value",
          "in" : "query",
          "description" : "Valeur pouvant être requise pour contextualiser certaines listes (par exemple, la liste des chambres qui n’a de sens que dans le contexte d’une juridiction – ainsi, pour obtenir la liste des chambres de la Cour de cassation : `GET /taxonomy?id=chamber&context_value=cc`). Valeurs possibles : `cc`, `ca`. Si le paramètre `context_value` est omis, la valeur `cc` est utilisée par défaut.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Requête effectuée avec succès.",
            "schema" : {
              "$ref" : "#/definitions/taxonResult"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    },
    "/stats" : {
      "get" : {
        "summary" : "Permet de récupérer des statistiques sur le contenu de la base JUDILIBRE.",
        "description" : "Ce point d'entrée publiera notamment les statistiques suivantes, mises à jour quotidiennement :\n\n* Nombre de décisions indexées (au total, par année, par juridiction) ;\n* Nombre de requêtes (par jour, par semaine, etc.) ;\n* Date de la décision la plus ancienne, date de la décision la plus récente.",
        "operationId" : "stats",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "jurisdiction",
          "in" : "query",
          "description" : "Filtre pour ne retourner les résultats que pour un type de juridiction.\nDoit prendre les valeurs `cc`, `ca`, `tj` ou `tcom`.\nPar défaut, retourne toutes les juridictions",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "Filtre pour ne retourner les résultats que pour une juridiction précise.\nDoit prendre un identifiant de juridiction comme valeur (voir `GET /taxonomy`).\nOn peut spécifier plusieurs valeurs en les séparant par des virgules (ex: `ca_paris,ca_rennes`).\nPar défaut, retourne toutes les juridictions",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "date_start",
          "in" : "query",
          "description" : "Date minimale utilisée pour filter les résultats.\nDoit être au format `YYYY-MM-DD`.\nPar défaut, pas de date minimale.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "date_end",
          "in" : "query",
          "description" : "Date maximale utilisée pour filter les résultats.\nDoit être au format `YYYY-MM-DD`.\nPar défaut, pas de date maximale.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "particularInterest",
          "in" : "query",
          "description" : "Filtre pour ne retourner les décisions présentant ou non un intérêt particulier.\nDoit prendre la valeur `true`.\nPar défaut, retourne toutes les décisions",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "keys",
          "in" : "query",
          "description" : "Nom des variables utilisées pour agréger les données.\nPeut prendre les valeurs `year`, `month`, `jurisdiction`, `source`, `location`, `theme`, `formation`, `chamber`, `solution`, `type`, `publication`.\nOn peut spécifier plusieurs valeurs en les séparant par des virgules (ex: `jurisdiction,chamber`).\nPar défaut, les données ne sont pas agrègées.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Requête effectuée avec succès.",
            "schema" : {
              "$ref" : "#/definitions/stats"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    },
    "/export" : {
      "get" : {
        "summary" : "Permet d'effectuer un export par lot de décisions de justice.",
        "description" : "Destiné aux utilisateurs désirant procéder à leur propre indexation et mise à disposition du contenu, ce point d'entrée leur permet de récupérer des lots de décisions complètes suivant des paramètres et critères simples :\n\n* Nature de décision (filtre) ;\n* Matière (filtre) ;\n* Chambre et formation (filtre) ;\n* Juridiction et commission (filtre) ;\n* Niveau de publication (filtre) ;\n* Type de solution (filtre) ;\n* Intervalle de dates (date de création ou de mise à jour) (filtre) ;\n* Date (tri) ;\n* Nombre de décisions par lot, index du lot (navigation).\n\nL'export par lots est limité par défaut (pour une connexion non authentifiée) à 10 résultats par lot, pour un maximum de 1000 résultats au total.",
        "operationId" : "export",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Filtre les résultats suivant la natures des décisions (parmi les valeurs : `arret`, `qpc`, `ordonnance`, `saisie`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=type`). Un export avec un paramètre `type` vide ou manquant retourne des décisions de toutes natures.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "theme",
          "in" : "query",
          "description" : "Filtre les résultats suivant la matière (nomenclature de la Cour de cassation) relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=theme`). Un export avec un paramètre `theme` vide ou manquant retourne des décisions relatives à toutes les matières.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "chamber",
          "in" : "query",
          "description" : "Filtre les résultats suivant la chambre relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=chamber`). Un export avec un paramètre `chamber` vide ou manquant retourne des décisions relatives à toutes les chambres.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "formation",
          "in" : "query",
          "description" : "Filtre les résultats suivant la formation relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=formation`). Un export avec un paramètre `formation` vide ou manquant retourne des décisions relatives à toutes les formations.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "jurisdiction",
          "in" : "query",
          "description" : "Filtre les résultats suivant la juridiction relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=jurisdiction`). Un export avec un paramètre `jurisdiction` vide ou manquant retourne des décisions relatives à la Cour de cassation (`cc`).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "location",
          "in" : "query",
          "description" : "Filtre les résultats suivant le code du siège de juridiction ayant émis les décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=location&context_value=ca` pour les cours d'appel et `GET /taxonomy?id=location&context_value=tj` pour les tribunaux judiciaires). Par exemple : `GET /export?...&location=ca_paris`. ",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "publication",
          "in" : "query",
          "description" : "Filtre les résultats suivant le niveau de publication des décisions (parmi les valeurs : `b`, `r`, `l`, `c`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=publication`). Un export avec un paramètre `publication` vide ou manquant retourne des décisions de n'importe quel niveau de publication.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "solution",
          "in" : "query",
          "description" : "Filtre les résultats suivant le type de solution des décisions (parmi les valeurs : `annulation`, `avis`, `cassation`, `decheance`, `designation`, `irrecevabilite`, `nonlieu`, `qpc`, `rabat`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=solution`). Un export avec un paramètre `solution` vide retourne des décisions ayant n'importe quel type de solution.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "date_start",
          "in" : "query",
          "description" : "Combiné avec le paramètre `date_end`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z).",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "date_end",
          "in" : "query",
          "description" : "Combiné avec le paramètre `date_start`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z).",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "abridged",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra la version abrégée des décisions (sans texte intégral ni métadonnées détaillées, vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "date_type",
          "in" : "query",
          "description" : "Type de date à prendre en compte pour l’intervalle de dates fourni pour l’export (vaut `creation` ou `update`).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Permet de choisir l’ordre du tri des décisions exportées ('asc' pour un tri par date chronologique ou 'desc' pour un tri par date antichronologique, vaut 'asc' par défaut).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "batch_size",
          "in" : "query",
          "description" : "Permet de déterminer le nombre de résultats retournés par lot (1000 maximum, vaut 10 par défaut).",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "batch",
          "in" : "query",
          "description" : "Permet de déterminer le numéro du lot de résultats à retourner (le premier lot ayant la valeur 0).",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "resolve_references",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra, pour chaque information retournée par défaut sous forme de clé, l'intitulé complet de celle-ci (vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "withFileOfType",
          "in" : "query",
          "description" : "Filtre les résultats suivant le type de documents associés aux décisions, parmi les valeurs : `prep_rapp` (Rapport du rapporteur), `prep_avis` (Avis de l’avocat général), `prep_oral` (Avis oral de l’avocat général), `comm_comm` (Communiqué), `comm_note` (Note explicative), `comm_nora` (Notice au rapport annuel), `comm_lett` (Lettre de chambre), `comm_trad` (Arrêt traduit). Les valeurs disponibles sont accessibles via `GET /taxonomy?id=filetype`.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "particularInterest",
          "in" : "query",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête sera restreint aux décisions qualifiées comme présentant un intérêt particulier (vaut `false` par défaut).",
          "required" : false,
          "type" : "boolean"
        } ],
        "deprecated" : true,
        "responses" : {
          "200" : {
            "description" : "Export effectué avec succès.",
            "schema" : {
              "$ref" : "#/definitions/exportBatch"
            }
          },
          "400" : {
            "description" : "Requête invalide."
          },
          "401" : {
            "description" : "Authentification requise."
          },
          "423" : {
            "description" : "Accès bloqué suite à une activité suspecte."
          },
          "500" : {
            "description" : "Erreur indéfinie côté serveur."
          },
          "403" : {
            "description" : "Permissions insuffisantes."
          },
          "416" : {
            "description" : "La plage d'informations demandée est incorrecte ou ne peut pas être satisfaite."
          },
          "429" : {
            "description" : "Trop de requêtes."
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "SecurityProfile.OAuthApplication" : {
      "description" : "OAuth",
      "type" : "oauth2",
      "tokenUrl" : "https://sandbox-oauth.piste.gouv.fr/api/oauth/token",
      "flow" : "application",
      "scopes" : {
        "openid" : ""
      }
    },
    "SecurityProfile.API Key" : {
      "description" : "API Key",
      "type" : "apiKey",
      "name" : "KeyId",
      "in" : "header"
    }
  },
  "definitions" : {
    "searchResult" : {
      "title" : "Type d'objet `searchResult`.",
      "allOf" : [ {
        "type" : "object",
        "required" : [ "score" ],
        "properties" : {
          "score" : {
            "type" : "number",
            "format" : "float",
            "description" : "Score de la décision (pertinence) entre 0 et 1 (max_score)."
          },
          "highlights" : {
            "type" : "object",
            "description" : "Liste des segments de la décision ayant des correspondances avec la requête saisie, les correspondances étant délimitées par des balises `<em>`. Chaque segment est un objet de type `searchHighlight`.",
            "properties" : { }
          }
        }
      }, {
        "$ref" : "#/definitions/decisionShort"
      } ],
      "description" : "Décrit un élément de la litste de résultats de recherche.\n\nRappel : le texte intégral et les zones qu'il contient ne sont pas inclus dans les résultats de la recherche. La récupération d'une décision complète (incluant les zones) repose sur le point d'entrée `GET /decision`."
    },
    "transactionalhistory" : {
      "type" : "object",
      "required" : [ "page_size", "query_date", "total", "transactions" ],
      "properties" : {
        "transactions" : {
          "type" : "array",
          "description" : "Liste effective des opérations réalisés sur la base de donnée des décisions de justice.",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "ID de la décision concernée par l'opération."
              },
              "action" : {
                "type" : "string",
                "description" : "Opération effectuée en base.",
                "enum" : [ "created", "updated", "deleted" ]
              },
              "date" : {
                "type" : "string",
                "format" : "date",
                "description" : "Date à laquelle a été effectuée l'opération."
              }
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "description" : "Nombre d'opérations maximum que cette requête est capable de retourner."
        },
        "total" : {
          "type" : "integer",
          "description" : "Nombre d'opérations sauvegardées en base de données et correspondant à la recherche."
        },
        "query_date" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date à laquelle a été effectuée la requête."
        },
        "next_page" : {
          "type" : "string",
          "description" : "QueryString permettant d'obtenir le set d'opérations qui suit chronologiquement ce résultat et qui n'a pa pu être renvoyé dans cette requête."
        }
      },
      "title" : "Type d'objet `transactionalhistory`.",
      "description" : "Représente la liste des opérations effectuées sur la base de donnée des décisions de justice",
      "example" : {
        "transactions" : [ {
          "id" : "673ded6e5559d27e30e40f67",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6e5559d27e30e40f69",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6e5559d27e30e40f6b",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6f5559d27e30e40f6d",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6f5559d27e30e40f6f",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6f5559d27e30e40f77",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6f5559d27e30e40f79",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6f5559d27e30e40f7b",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6f5559d27e30e40f7d",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        }, {
          "id" : "673ded6f5559d27e30e40f7f",
          "action" : "created",
          "date" : "2025-01-15T14:50:10.185Z"
        } ],
        "next_page" : "date=2021-05-13T06%3A00%3A00Z&page_size=10&from_id=1736952610185%269",
        "page_size" : 10,
        "total" : 834,
        "query_date" : "2025-01-31T08:10:18.262Z"
      }
    },
    "exportBatch" : {
      "type" : "object",
      "required" : [ "batch", "batch_size", "query", "took", "total" ],
      "properties" : {
        "query" : {
          "$ref" : "#/definitions/exportQuery"
        },
        "total" : {
          "type" : "integer",
          "description" : "Nombre total de décisions retournées par la requête."
        },
        "took" : {
          "type" : "integer",
          "description" : "Temps d'exécution de la requête (en millisecondes)."
        },
        "results" : {
          "type" : "array",
          "description" : "Liste des résultats retournés, chaque résultat étant un objet de type `decisionFull`. La liste est vide si l'export n'a retourné aucun résultat.",
          "items" : {
            "$ref" : "#/definitions/decisionFull"
          }
        },
        "next_batch" : {
          "type" : "string",
          "description" : "URL du lot suivant (propriété `null` si le lot courant est le dernier)."
        },
        "batch" : {
          "type" : "integer",
          "description" : "Indice du lot courant (le premier lot valant 0)."
        },
        "batch_size" : {
          "type" : "integer",
          "description" : "Nombre de résultats retournés par lot."
        },
        "previous_batch" : {
          "type" : "string",
          "description" : "URL du lot précédent (propriété `null` si le lot courant est le premier)."
        }
      },
      "title" : "Type d'objet `exportBatch`.",
      "description" : "Objet décrivant un lot de décisions exportées.",
      "example" : {
        "batch" : 0,
        "batch_size" : 10,
        "query" : {
          "type" : [ "arret", "qpc" ],
          "theme" : [ ],
          "chamber" : [ ],
          "formation" : [ ],
          "jurisdiction" : [ ],
          "publication" : [ "c", "b" ],
          "solution" : [ ],
          "date_start" : "1970-01-01",
          "date_end" : "2021-01-01",
          "order" : "desc",
          "batch_size" : 10,
          "batch" : 0,
          "resolve_references" : false
        },
        "total" : 341,
        "next_batch" : "http://.../...&batch=1",
        "took" : 42,
        "results" : [ {
          "id" : "5fca7d162a251e6bf9c78514",
          "jurisdiction" : "cc",
          "chamber" : "civ3",
          "number" : "17-18.194",
          "numbers" : [ "17-18.194", "16-21.165" ],
          "ecli" : "ECLI:FR:CCASS:2018:C301117",
          "formation" : "fs",
          "publication" : [ "c", "b" ],
          "decision_date" : "2018-12-20",
          "type" : "arret",
          "solution" : "rejet",
          "summary" : "Le titulaire d'une autorisation temporaire d'occupation, en vigueur au moment de la procédure d'expropriation, est en droit d'obtenir l'indemnisation de son préjudice résultant de l'expropriation",
          "themes" : [ "Expropriation pour cause d'utilité publique", "Indemnité", "Préjudice", "Réparation", "Cas", "Titulaire d'une autorisation temporaire d'occupation en vigueur" ],
          "text" : "CIV.3 \r\nCH.B\r\n\r\n\r\n\r\nCOUR DE CASSATION\r\n______________________\r\n\r\n\r\nAudience publique du 20 décembre 2018\r\n\r\n\r\n\r\n\r\nRejet\r\n\r\n\r\nM. CHAUVIN, président\r\n\r\n\r\n\r\nArrêt n° 1117 FS-P+B+I\r\n\r\nPourvoi n° C 17-18.194\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\nR É P U B L I Q U E F R A N Ç A I S E\r\n\r\n_________________________\r\n\r\nAU NOM DU PEUPLE FRANÇAIS\r\n_________________________\r\n\r\n\r\nLA COUR DE CASSATION, TROISIÈME CHAMBRE CIVILE, a rendu l'arrêt suivant :\r\n\r\nStatuant sur le pourvoi (...) la cour d'appel n'a pas mis la Cour de cassation en mesure d'exercer son contrôle, violant ainsi les articles 455 du code de procédure civile, ensemble les articles L. 322-1 L. 322-2 du code de l'expropriation.",
          "zones" : {
            "introduction" : [ {
              "start" : 0,
              "end" : 2309
            } ],
            "motivations" : [ {
              "start" : 2309,
              "end" : 4834
            } ],
            "dispositif" : [ {
              "start" : 4834,
              "end" : 5199
            } ],
            "annexes" : [ {
              "start" : 5199,
              "end" : 16798
            } ]
          }
        }, { } ]
      }
    },
    "taxonItem" : {
      "type" : "object",
      "properties" : {
        "key" : {
          "type" : "string",
          "description" : "Clé de l'élément."
        },
        "value" : {
          "type" : "string",
          "description" : "Intitulé complet de l'élément."
        }
      },
      "title" : "Type d'objet `taxonItem`.",
      "description" : "Objet décrivant un élément de la taxonomie.",
      "example" : {
        "key" : "cc",
        "value" : "Cour de cassation"
      }
    },
    "statsQuery" : {
      "properties" : {
        "date_start" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date minimale de la requête"
        },
        "date_end" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date maximale de la requête"
        },
        "jurisdiction" : {
          "type" : "string",
          "description" : "Filtre sur la juridiction"
        },
        "keys" : {
          "type" : "string",
          "description" : "Liste des clefs d'agrégation"
        }
      },
      "title" : "Type d'objet `statsQuery`",
      "description" : "Requête du point de terminaison GET `/stats`"
    },
    "health" : {
      "type" : "object",
      "required" : [ "status" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "État de disponibilité du service.",
          "enum" : [ "disponible", "indisponible" ]
        }
      },
      "title" : "Type d'objet `health`.",
      "description" : "Objet décrivant l'état de disponibilité du service.",
      "example" : {
        "status" : "disponible"
      }
    },
    "exportQuery" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la natures des décisions (parmi les valeurs : `arret`, `qpc`, `ordonnance`, `saisie`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=type`). Une recherche avec un paramètre `type` vide ou manquant retourne des décisions de toutes natures.",
          "items" : {
            "type" : "string"
          }
        },
        "theme" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la matière (nomenclature de la Cour de cassation) relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=theme`). Une recherche avec un paramètre `theme` vide ou manquant retourne des décisions relatives à toutes les matières.",
          "items" : {
            "type" : "string"
          }
        },
        "chamber" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la chambre relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=chamber`). Une recherche avec un paramètre `chamber` vide ou manquant retourne des décisions relatives à toutes les chambres.",
          "items" : {
            "type" : "string"
          }
        },
        "formation" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la formation relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=formation`). Une recherche avec un paramètre `formation` vide ou manquant retourne des décisions relatives à toutes les formations.",
          "items" : {
            "type" : "string"
          }
        },
        "jurisdiction" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la juridiction relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=jurisdiction`). Une recherche avec un paramètre `jurisdiction` vide ou manquant retourne des décisions relatives à la Cour de cassation (`cc`).",
          "items" : {
            "type" : "string"
          }
        },
        "publication" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant le niveau de publication des décisions (parmi les valeurs : `b`, `r`, `l`, `c`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=publication`). Une recherche avec un paramètre `publication` vide ou manquant retourne des décisions de n'importe quel niveau de publication.",
          "items" : {
            "type" : "string"
          }
        },
        "solution" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant le type de solution des décisions (parmi les valeurs : `annulation`, `avis`, `cassation`, `decheance`, `designation`, `irrecevabilite`, `nonlieu`, `qpc`, `rabat`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=solution`). Une recherche avec un paramètre `solution` vide retourne des décisions ayant n'importe quel type de solution.",
          "items" : {
            "type" : "string"
          }
        },
        "date_start" : {
          "type" : "string",
          "description" : "Combiné avec le paramètre `date_end`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z)."
        },
        "date_end" : {
          "type" : "string",
          "description" : "Combiné avec le paramètre `date_start`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z)."
        },
        "order" : {
          "type" : "string",
          "description" : "Permet de choisir l’ordre du tri des décisions exportées ('asc' pour un tri par date chronologique ou 'desc' pour un tri par date antichronologique, vaut 'asc' par défaut)."
        },
        "resolve_references" : {
          "type" : "boolean",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra, pour chaque information retournée par défaut sous forme de clé, l'intitulé complet de celle-ci (vaut `false` par défaut)."
        },
        "abridged" : {
          "type" : "boolean",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra la version abrégée des décisions (sans texte intégral ni métadonnées détaillées, vaut `false` par défaut)."
        },
        "date_type" : {
          "type" : "string",
          "description" : "Type de date à prendre en compte pour l’intervalle de dates fourni pour l’export (vaut `creation` ou `update`)."
        },
        "batch_size" : {
          "type" : "integer",
          "description" : "Permet de déterminer le nombre de résultats retournés par lot (1000 maximum, vaut 10 par défaut)."
        },
        "batch" : {
          "type" : "integer",
          "description" : "Permet de déterminer le numéro du lot de résultats à retourner (le premier lot valant 0)."
        },
        "withFileOfType" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant le type de documents associés aux décisions, parmi les valeurs : `prep_rapp` (Rapport du rapporteur), `prep_avis` (Avis de l’avocat général), `prep_oral` (Avis oral de l’avocat général), `comm_comm` (Communiqué), `comm_note` (Note explicative), `comm_nora` (Notice au rapport annuel), `comm_lett` (Lettre de chambre), `comm_trad` (Arrêt traduit). Les valeurs disponibles sont accessibles via `GET /taxonomy?id=filetype`.",
          "items" : {
            "type" : "string"
          }
        },
        "legacy.*" : {
          "type" : "string",
          "description" : "Permet de requêter des propriétés \"historiques\" propres à la source de données et non normalisables (par exemple les propriétés `matiereDeterminee`, `pourvoiLocal` et `pourvoiCcas` en provenance de JuriCA). Par exemple : `/export?jurisdiction=ca&legacy.matiereDeterminee=1`"
        },
        "particularInterest" : {
          "type" : "boolean",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête sera restreint aux décisions qualifiées comme présentant un intérêt particulier (vaut `false` par défaut)."
        }
      },
      "title" : "Type d'objet `exportQuery`.",
      "description" : "Décrit l'objet contenant les paramètres d'une requête d'export.",
      "example" : {
        "type" : [ "arret", "qpc" ],
        "theme" : [ ],
        "chamber" : [ ],
        "formation" : [ ],
        "jurisdiction" : [ ],
        "publication" : [ "c", "b" ],
        "solution" : [ ],
        "date_start" : "1970-01-01",
        "date_end" : "2021-01-01",
        "order" : "desc",
        "batch_size" : 10,
        "batch" : 0,
        "resolve_references" : false,
        "legacy.matiereDeterminee" : 1
      }
    },
    "taxonResult" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Identifiant de l'entrée de taxonomie interrogée."
        },
        "key" : {
          "type" : "string",
          "description" : "Clé dont on veut récupérer l'intitulé complet (pour une requête avec `key`)."
        },
        "result" : {
          "$ref" : "#/definitions/taxonItem"
        },
        "value" : {
          "type" : "string",
          "description" : "Intitulé complet dont on veut récupérer la clé (pour une requête avec `value`)."
        }
      },
      "title" : "Type d'objet `taxonResult`.",
      "description" : "Objet décrivant le résultat d'une requête `/taxonomy`.",
      "example" : {
        "id" : "publication",
        "key" : "r",
        "result" : {
          "value" : "Publié au Rapport"
        }
      }
    },
    "statsBucket" : {
      "required" : [ "decisions_count", "key" ],
      "properties" : {
        "key" : {
          "type" : "object",
          "example" : {
            "jurisdiction" : "cc",
            "year" : "2024"
          },
          "description" : "Objet contenant la description du bucket: chaque clef est une des variables d'agrégation et les valeurs sont les valeurs associées au bucket",
          "properties" : { }
        },
        "decisions_count" : {
          "type" : "integer",
          "description" : "Nombre de décisions dans ce bucket"
        }
      },
      "title" : "Type d'objet `statsBucket`",
      "description" : "Nombre de décisions par bucket d'agrégation"
    },
    "decisionFull" : {
      "title" : "Type d'objet `decisionFull`.",
      "allOf" : [ {
        "type" : "object",
        "properties" : {
          "zones" : {
            "$ref" : "#/definitions/zone"
          },
          "text" : {
            "type" : "string",
            "description" : "Texte intégral et pseudonymisé de la décision (texte brut)."
          },
          "text_highlight" : {
            "type" : "string",
            "description" : "Texte intégral de la décision dans lequel les correspondances avec la recherche saisie (dans le cas où le paramètre `query` a été transmis à la requêtes) sont délimitées par des balises `<em>`."
          },
          "nac" : {
            "type" : "string",
            "description" : "Code NAC de la décision."
          },
          "decision_datetime" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date de création de la décision, au format ISO-8601 long (par exemple 2021-05-13T06:00:00Z)."
          },
          "update_date" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date de dernière mise à jour de la décision, au format ISO-8601 court (par exemple 2021-05-13)."
          },
          "update_datetime" : {
            "type" : "string",
            "format" : "date",
            "description" : "Date de dernière mise à jour de la décision, au format ISO-8601 long (par exemple 2021-05-13T06:00:00Z)."
          },
          "visa" : {
            "type" : "array",
            "description" : "Liste des textes appliqués par la décision, chaque texte étant représenté par un objet de type `textLink` où `title` contient l'intitulé du texte et `url` contient le lien vers celui-ci.",
            "items" : {
              "$ref" : "#/definitions/textLink"
            }
          },
          "contested" : {
            "description" : "Objet décrivant la décision attaquée (chaînage arrière), de type `decisionLink` où `title` contient son intitulé, `number` son numéro, `description` son court texte descriptif, `theme` la liste de ses matières (ou éléments de titrage) et `url` le lien vers celle-ci.",
            "$ref" : "#/definitions/decisionLink"
          },
          "forward" : {
            "description" : "Objet décrivant la décision suivant celle-ci (chaînage avant), de type `decisionLink` où `title` contient son intitulé, `number` son numéro, `description` son court texte descriptif, `theme` la liste de ses matières (ou éléments de titrage) et `url` le lien vers celle-ci.",
            "$ref" : "#/definitions/decisionLink"
          },
          "rapprochements" : {
            "type" : "array",
            "description" : "Liste des rapprochements de jurisprudence, chaque rapprochement étant représenté par un objet de type `decisionLink` où `title` contient son intitulé, `number` son numéro, `description` son court texte descriptif, `theme` la liste de ses matières (ou éléments de titrage) et `url` le lien vers celui-ci.",
            "items" : {
              "$ref" : "#/definitions/decisionLink"
            }
          },
          "timeline" : {
            "type" : "array",
            "description" : "Liste des dates clés relatives à la décision, chaque date clé étant représentée par un objet de type `decisionLink`.",
            "items" : {
              "$ref" : "#/definitions/decisionLink"
            }
          },
          "to_be_deleted" : {
            "type" : "boolean",
            "description" : "Lorsque la propriété `to_be_deleted` est définie et vaut `true`, alors la décision correspondante doit être supprimée des archives ou des bases de données du réutilisateur. Cette propriété peut apparaître dans le cadre d'un export des décisions mises à jour (`/export?date_type=update`)."
          },
          "partial" : {
            "type" : "boolean",
            "description" : "Lorsque la propriété `partial` est définie et vaut `true`, alors le contenu de la décision correspondante est partiel (décision publiée par extraits)."
          },
          "legacy" : {
            "type" : "object",
            "description" : "Objet contenant des propriétés \"historiques\" propres à la source de données et non normalisables (par exemple les propriétés `matiereDeterminee`, `pourvoiLocal` et `pourvoiCcas` en provenance de JuriCA). Ces propriétés sont requêtables dans le cadre de l'export par lots, par exemple : `/export?jurisdiction=ca&legacy.matiereDeterminee=1`",
            "properties" : { }
          },
          "particularInterest" : {
            "type" : "boolean",
            "description" : "Lorsque la propriété `particularInterest` est définie et vaut `true`, alors la décision correspondante est qualifiée comme présentant un intérêt particulier."
          },
          "titlesAndSummaries" : {
            "type" : "object",
            "description" : "Objet contenant l'ensemble des titres et sommaires définis pour la décision, sous la forme d'une liste de propriétés 'titles' (titres principaux), 'summary' (sommaire) et 'secondaryTitles' (titres secondaires ou de référence). Cela concerne uniquement les décisions de la Cour de cassation.",
            "properties" : { }
          }
        }
      }, {
        "$ref" : "#/definitions/decisionShort"
      } ],
      "description" : "Décrit l'objet contenant une décision intégrale."
    },
    "textLink" : {
      "type" : "object",
      "required" : [ "title" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Identifiant du texte."
        },
        "url" : {
          "type" : "string",
          "description" : "URL du texte."
        },
        "title" : {
          "type" : "string",
          "description" : "Intitulé du texte."
        }
      },
      "title" : "Type d'objet `textLink`.",
      "description" : "Objet décrivant un lien vers un texte appliqué.",
      "example" : {
        "id" : 70,
        "url" : "some text",
        "title" : "some text"
      }
    },
    "searchPage" : {
      "type" : "object",
      "required" : [ "max_score", "page", "page_size", "query", "relaxed", "took", "total" ],
      "properties" : {
        "page" : {
          "type" : "integer",
          "description" : "Indice de la page courante de résultat (la première page valant 0)."
        },
        "page_size" : {
          "type" : "integer",
          "description" : "Nombre de résultats retournés par page (10 par défaut)."
        },
        "query" : {
          "$ref" : "#/definitions/searchQuery"
        },
        "total" : {
          "type" : "integer",
          "description" : "Nombre total de décisions retournées par la requête."
        },
        "next_page" : {
          "type" : "string",
          "description" : "URL de la page de résultats suivante (propriété `null` si la page courante est la dernière)."
        },
        "previous_page" : {
          "type" : "string",
          "description" : "URL de la page de résultats précédente (propriété `null` si la page courante est la première)."
        },
        "took" : {
          "type" : "integer",
          "description" : "Temps d'exécution de la requête (en millisecondes)."
        },
        "max_score" : {
          "type" : "number",
          "format" : "float",
          "description" : "Score maximal obtenu sur l'ensemble des résultats."
        },
        "relaxed" : {
          "type" : "boolean",
          "description" : "Vaut `true` si les résulats proviennent d'une requête plus \"lâche\", exécutée automatiquement dans le cas où la requête initiale ne retourne aucun résultat."
        },
        "results" : {
          "type" : "array",
          "description" : "Liste des résultats retournés, chaque résultat étant un objet de type `searchResult`. La liste est vide si la recherche n'a retourné aucun résultat.",
          "items" : {
            "$ref" : "#/definitions/searchResult"
          }
        }
      },
      "title" : "Type d'objet `searchPage`.",
      "description" : "Décrit une page de résultats de recherche.",
      "example" : {
        "page" : 0,
        "page_size" : 10,
        "query" : {
          "query" : "expropriation",
          "field" : [ "expose", "moyens", "motivations" ],
          "operator" : "or",
          "type" : [ "arret", "qpc" ],
          "theme" : [ ],
          "chamber" : [ ],
          "formation" : [ ],
          "jurisdiction" : [ ],
          "publication" : [ "c", "b" ],
          "solution" : [ ],
          "date_start" : "1970-01-01",
          "date_end" : "2021-01-01",
          "sort" : "score",
          "order" : "desc",
          "page_size" : 10,
          "page" : 0,
          "resolve_references" : false
        },
        "total" : 341,
        "next_page" : "http://.../...&page=1",
        "took" : 14,
        "max_score" : 2428.1362,
        "relaxed" : false,
        "results" : [ {
          "score" : 0.6848325044168517,
          "highlights" : {
            "motivations" : [ "2016) fixe les indemnités revenant à la société Nour, depuis en liquidation judiciaire, à la suite de <em>l'expropriation</em>", "indemnités allouées doivent couvrir l'intégralité du préjudice direct, matériel et certain causé par <em>l'expropriation</em>", "Nour ne bénéficiait que d'une autorisation précaire d'exploiter son fonds sur la terrasse, objet de <em>l'expropriation</em>", ";\r\n\r\n2°/ qu'en énonçant que cette autorisation était toujours en vigueur au moment de la procédure <em>d'expropriation</em>", ", la cour d'appel en a exactement déduit que, le préjudice de cette société étant en lien avec <em>l'expropriation</em>" ]
          },
          "id" : "5fca7d162a251e6bf9c78514",
          "jurisdiction" : "cc",
          "chamber" : "civ3",
          "number" : "17-18.194",
          "numbers" : [ "17-18.194", "16-21.165" ],
          "ecli" : "ECLI:FR:CCASS:2018:C301117",
          "formation" : "fs",
          "publication" : [ "c", "b" ],
          "decision_date" : "2018-12-20",
          "type" : "arret",
          "solution" : "rejet",
          "summary" : "Le titulaire d'une autorisation temporaire d'occupation, en vigueur au moment de la procédure d'expropriation, est en droit d'obtenir l'indemnisation de son préjudice résultant de l'expropriation",
          "themes" : [ "Expropriation pour cause d'utilité publique", "Indemnité", "Préjudice", "Réparation", "Cas", "Titulaire d'une autorisation temporaire d'occupation en vigueur" ]
        }, { } ]
      }
    },
    "fileLink" : {
      "type" : "object",
      "required" : [ "date", "id", "isCommunication", "name", "type", "url" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Identifiant du document associé."
        },
        "name" : {
          "type" : "string",
          "description" : "Intitulé du document associé."
        },
        "url" : {
          "type" : "string",
          "description" : "URL du document associé."
        },
        "rawUrl" : {
          "type" : "string",
          "description" : "URL du document associé et accessible publiquement (dans le doute, privilégez ce champ)."
        },
        "type" : {
          "type" : "string",
          "description" : "Code correspondant au type de document associé (par exemple : 'comm_comm', 'comm_note', 'comm_trad', 'prep_rapp', etc.). Par défaut, utiliser `GET /taxonomy?id=filetype&key={type}` pour récupérer l'intitulé complet de celui-ci. Si la requête utilise `resolve_references=true`, alors cette propriété contient l'intitulé complet du type de document associé (par exemple : 'Communiqué', 'Note explicative', 'Arrêt traduit', 'Rapport du rapporteur', etc.)."
        },
        "isCommunication" : {
          "type" : "boolean",
          "description" : "Vaut `true` lorsque le document associé est un document de communication (sinon il s'agit d'un document préparatoire)."
        },
        "size" : {
          "type" : "string",
          "description" : "Taille du fichier, dans un format \"humainement lisible\" (par exemple : `41.34 kB`)"
        },
        "date" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date d'ajout du document, au format ISO-8601 (par exemple 2021-05-13)."
        }
      },
      "title" : "Type d'objet `fileLink`.",
      "description" : "Objet décrivant un lien vers un document pouvant être associé à une décision.",
      "example" : {
        "id" : "5fca7d162a251e6bf9c78514",
        "url" : "https://judilibre.io/traduction-5fca7d162a251e6bf9c78514.pdf",
        "name" : "traduction.pdf",
        "type" : "comm_trad",
        "isCommunication" : true,
        "size" : "952 kB",
        "date" : "2020-01-14"
      }
    },
    "zone" : {
      "type" : "object",
      "properties" : {
        "introduction" : {
          "type" : "array",
          "description" : "Une liste d'objets de type `zoneSegment`, chacun content un objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans chaque segment de la zone 'introduction'.",
          "items" : {
            "$ref" : "#/definitions/zoneSegment"
          }
        },
        "expose" : {
          "type" : "array",
          "description" : "Une liste d'objets de type `zoneSegment`, chacun content un objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans chaque segment de la zone 'exposé du litige'.",
          "items" : {
            "$ref" : "#/definitions/zoneSegment"
          }
        },
        "moyens" : {
          "type" : "array",
          "description" : "Une liste d'objets de type `zoneSegment`, chacun content un objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans chaque segment de la zone 'moyens'.",
          "items" : {
            "$ref" : "#/definitions/zoneSegment"
          }
        },
        "motivations" : {
          "type" : "array",
          "description" : "Une liste d'objets de type `zoneSegment`, chacun content un objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans chaque segment de la zone 'motivations'.",
          "items" : {
            "$ref" : "#/definitions/zoneSegment"
          }
        },
        "dispositif" : {
          "type" : "array",
          "description" : "Une liste d'objets de type `zoneSegment`, chacun content un objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans chaque segment de la zone 'dispositifs'.",
          "items" : {
            "$ref" : "#/definitions/zoneSegment"
          }
        },
        "annexes" : {
          "type" : "array",
          "description" : "Une liste d'objets de type `zoneSegment`, chacun content un objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans chaque segment de la zone 'moyens annexés'.",
          "items" : {
            "$ref" : "#/definitions/zoneSegment"
          }
        }
      },
      "title" : "Type d'objet `zone`.",
      "description" : "Décrit l'objet définissant une zone détectée dans le texte intégral de la décision. Chaque zone (`introduction` : introduction de la décision, `expose` : exposé du litige, `moyens` : moyens, `motivations`, motivations,`dispositif` : dispositifs, `annexes` : moyens annexés) contient une liste d'objets de type `zoneSegment`, chacun contenant un objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans chaque segment de la zone (une zone pouvant contenir plusieurs segments).",
      "example" : {
        "expose" : [ {
          "start" : 8,
          "end" : 72
        }, {
          "start" : 77,
          "end" : 95
        } ]
      }
    },
    "stats" : {
      "type" : "object",
      "required" : [ "query", "results" ],
      "properties" : {
        "results" : {
          "description" : "Résulats de la requête.",
          "$ref" : "#/definitions/statsResults"
        },
        "query" : {
          "description" : "Description de la requête",
          "$ref" : "#/definitions/statsQuery"
        }
      },
      "title" : "Type d'objet `stats`.",
      "description" : "Objet décrivant la réponse de l'API au point de terminaison `GET /stats`.",
      "example" : {
        "query" : {
          "keys" : "year,location",
          "jurisdiction" : "ca"
        },
        "results" : {
          "total_decisions" : 123456,
          "min_decision_date" : "1970-10-01",
          "max_decision_date" : "2025-02-18",
          "aggregated_date" : [ {
            "key" : {
              "year" : "2024",
              "location" : "ca_rennes"
            },
            "decisions_count" : 76
          }, {
            "key" : {
              "year" : "2025",
              "location" : "ca_rennes"
            },
            "decisions_count" : 221
          }, {
            "key" : {
              "year" : "2024",
              "location" : "ca_parisJ"
            },
            "decisions_count" : 350
          }, {
            "key" : {
              "year" : "2025",
              "location" : "ca_paris"
            },
            "decisions_count" : 547
          } ]
        }
      }
    },
    "searchQuery" : {
      "type" : "object",
      "properties" : {
        "query" : {
          "type" : "string",
          "description" : "Chaîne de caractères correspondant à la recherche. Une recherche avec un paramètre `query` vide ou manquant est ignorée et retourne un résultat vide."
        },
        "field" : {
          "type" : "array",
          "description" : "Liste des champs, métadonnées ou zones de contenu ciblés par la recherche (parmi les valeurs : `expose`, `moyens`, `motivations`, `dispositif`, `annexes`, `sommaire`, `titrage`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=field`). Une recherche avec un paramètre `field` vide ou manquant est appliquée à l'intégralité de la décision (introduction et moyens annexés compris) mais va exclure les métadonnées (sommaire, titrage, etc.).",
          "items" : {
            "type" : "string"
          }
        },
        "operator" : {
          "type" : "string",
          "description" : "Opérateur logique reliant les multiples termes que le paramètre `query` peut contenir (`or` par défaut, `and` ou `exact` – dans ce dernier cas le moteur recherchera exactement le contenu du paramètre `query`)."
        },
        "type" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la natures des décisions (parmi les valeurs : `arret`, `qpc`, `ordonnance`, `saisie`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=type`). Une recherche avec un paramètre `type` vide ou manquant retourne des décisions de toutes natures.",
          "items" : {
            "type" : "string"
          }
        },
        "theme" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la matière (nomenclature de la Cour de cassation) relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=theme`). Une recherche avec un paramètre `theme` vide ou manquant retourne des décisions relatives à toutes les matières.",
          "items" : {
            "type" : "string"
          }
        },
        "chamber" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la chambre relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=chamber`). Une recherche avec un paramètre `chamber` vide ou manquant retourne des décisions relatives à toutes les chambres.",
          "items" : {
            "type" : "string"
          }
        },
        "formation" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la formation relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=formation`). Une recherche avec un paramètre `formation` vide ou manquant retourne des décisions relatives à toutes les formations.",
          "items" : {
            "type" : "string"
          }
        },
        "jurisdiction" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant la juridiction relative aux décisions (les valeurs disponibles sont accessibles via `GET /taxonomy?id=jurisdiction`). Une recherche avec un paramètre `jurisdiction` vide ou manquant retourne des décisions relatives à la Cour de cassation (`cc`).",
          "items" : {
            "type" : "string"
          }
        },
        "publication" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant le niveau de publication des décisions (parmi les valeurs : `b`, `r`, `l`, `c`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=publication`). Une recherche avec un paramètre `publication` vide ou manquant retourne des décisions de n'importe quel niveau de publication.",
          "items" : {
            "type" : "string"
          }
        },
        "solution" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant le type de solution des décisions (parmi les valeurs : `annulation`, `avis`, `cassation`, `decheance`, `designation`, `irrecevabilite`, `nonlieu`, `qpc`, `rabat`, etc. - les valeurs disponibles sont accessibles via `GET /taxonomy?id=solution`). Une recherche avec un paramètre `solution` vide retourne des décisions ayant n'importe quel type de solution.",
          "items" : {
            "type" : "string"
          }
        },
        "date_start" : {
          "type" : "string",
          "description" : "Combiné avec le paramètre `date_end`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z)."
        },
        "date_end" : {
          "type" : "string",
          "description" : "Combiné avec le paramètre `date_start`, permet de restreindre les résultats à un intervalle de dates, au format ISO-8601 (par exemple 2021-05-13, 2021-05-13T06:00:00Z)."
        },
        "sort" : {
          "type" : "string",
          "description" : "Permet de choisir la valeur suivant laquelle les résultats sont triés (`score` pour un tri par pertinence, `scorepub` pour un tri par pertinence et niveau de publication et `date` pour un tri par date, vaut `scorepub` par défaut)."
        },
        "order" : {
          "type" : "string",
          "description" : "Permet de choisir l'ordre du tri (`asc` pour un tri ascendant ou `desc` pour un tri descendant, vaut `desc` par défaut)."
        },
        "page_size" : {
          "type" : "integer",
          "description" : "Permet de déterminer le nombre de résultats retournés par page (50 maximum, vaut 10 par défaut)."
        },
        "page" : {
          "type" : "integer",
          "description" : "Permet de déterminer le numéro de la page de résultats à retourner (la première page valant `0`)."
        },
        "resolve_references" : {
          "type" : "boolean",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête contiendra, pour chaque information retournée par défaut sous forme de clé, l'intitulé complet de celle-ci (vaut `false` par défaut)."
        },
        "withFileOfType" : {
          "type" : "array",
          "description" : "Filtre les résultats suivant le type de documents associés aux décisions, parmi les valeurs : `prep_rapp` (Rapport du rapporteur), `prep_avis` (Avis de l’avocat général), `prep_oral` (Avis oral de l’avocat général), `comm_comm` (Communiqué), `comm_note` (Note explicative), `comm_nora` (Notice au rapport annuel), `comm_lett` (Lettre de chambre), `comm_trad` (Arrêt traduit). Les valeurs disponibles sont accessibles via `GET /taxonomy?id=filetype`.",
          "items" : {
            "type" : "string"
          }
        },
        "particularInterest" : {
          "type" : "boolean",
          "description" : "Lorsque ce paramètre vaut `true`, le résultat de la requête sera restreint aux décisions qualifiées comme présentant un intérêt particulier (vaut `false` par défaut)."
        }
      },
      "title" : "Type d'objet `searchQuery`.",
      "description" : "Décrit l'objet contenant les paramètres d'une requête de recherche.",
      "example" : {
        "query" : "expropriation",
        "field" : [ "expose", "moyens", "motivations" ],
        "operator" : "or",
        "type" : [ "arret", "qpc" ],
        "theme" : [ ],
        "chamber" : [ ],
        "formation" : [ ],
        "jurisdiction" : [ ],
        "publication" : [ "c", "b" ],
        "solution" : [ ],
        "date_start" : "1970-01-01",
        "date_end" : "2021-01-01",
        "sort" : "score",
        "order" : "desc",
        "page_size" : 10,
        "page" : 0,
        "resolve_references" : false
      }
    },
    "zoneSegment" : {
      "type" : "object",
      "required" : [ "end", "start" ],
      "properties" : {
        "start" : {
          "type" : "integer",
          "description" : "Indice de début du segment."
        },
        "end" : {
          "type" : "integer",
          "description" : "Indice de fin du segment."
        }
      },
      "title" : "Type d'objet `zoneSegment`.",
      "description" : "Décrit un segment d'une zone en tant qu'objet `{ start, end }` indiquant respectivement l'indice de début et de fin des caractères (relativement au texte intégral) contenus dans le segment de la zone considérée.",
      "example" : {
        "start" : 34,
        "end" : 1680
      }
    },
    "statsResults" : {
      "type" : "object",
      "required" : [ "max_decision_date", "min_decision_date", "total_decisions" ],
      "properties" : {
        "min_decision_date" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date de la plus vielle décision retournée par la requête"
        },
        "max_decision_date" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date de la plus récente décision retournée par la requête"
        },
        "total_decisions" : {
          "type" : "integer",
          "description" : "Nombre de décisions total retournées par la requête"
        },
        "aggregated_data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/statsBucket"
          }
        }
      },
      "title" : "Type d'objet `statsResults`",
      "description" : "Statistiques renvoyées par l'API sur le point de terminaison `GET /stats`"
    },
    "decisionShort" : {
      "type" : "object",
      "required" : [ "chamber", "decision_date", "id", "jurisdiction", "number", "numbers", "publication", "solution" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Identifiant de la décision."
        },
        "jurisdiction" : {
          "type" : "string",
          "description" : "Clé de la juridiction. Par défaut, utiliser `GET /taxonomy?id=jurisdiction&key={jurisdiction}` pour récupérer l'intitulé complet de celle-ci. Si la requête utilise `resolve_references=true`, alors cette propriété contient l'intitulé complet de celle-ci."
        },
        "chamber" : {
          "type" : "string",
          "description" : "Clé de la chambre. Par défaut, utiliser `GET /taxonomy?id=chamber&context_value={jurisdiction}&key={chamber}` pour récupérer l'intitulé complet de celle-ci. Si la requête utilise `resolve_references=true`, alors cette propriété contient l'intitulé complet de celle-ci. L'intitulé complet peut aussi être directement retourné pour certaines juridictions dont les chambres ne sont pas normalisées."
        },
        "number" : {
          "type" : "string",
          "description" : "Numéro de pourvoi principal de la décision."
        },
        "numbers" : {
          "type" : "array",
          "description" : "Tous les numéros de pourvoi de la décision.",
          "items" : {
            "type" : "string"
          }
        },
        "ecli" : {
          "type" : "string",
          "description" : "Code ECLI de la décision."
        },
        "formation" : {
          "type" : "string",
          "description" : "Clé de la formation. Par défaut, utiliser `GET /taxonomy?id=formation&context_value={jurisdiction}&key={formation}` pour récupérer l'intitulé complet de celle-ci. Si la requête utilise `resolve_references=true`, alors cette propriété contient l'intitulé complet de celle-ci. L'intitulé complet peut aussi être directement retourné pour certaines juridictions dont les formations ne sont pas normalisées."
        },
        "publication" : {
          "type" : "array",
          "description" : "Clés du niveau de publication. Par défaut, utiliser `GET /taxonomy?id=publication&context_value={jurisdiction}&key={publication}` pour récupérer le nom de chaque clé. Si la requête utilise `resolve_references=true`, alors cette propriété contient l'intitulé complet de celui-ci.",
          "items" : {
            "type" : "string"
          }
        },
        "decision_date" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date de création de la décision, au format ISO-8601 (par exemple 2021-05-13)."
        },
        "type" : {
          "type" : "string",
          "description" : "Clé du type de décision. Par défaut, utiliser `GET /taxonomy?id=type&context_value={jurisdiction}&key={type}` pour récupérer l'intitulé complet de celui-ci. Si la requête utilise `resolve_references=true`, alors cette propriété contient l'intitulé complet de celui-ci."
        },
        "solution" : {
          "type" : "string",
          "description" : "Clé de la solution. Par défaut, utiliser `GET /taxonomy?id=solution&context_value={jurisdiction}&key={solution}` pour récupérer l'intitulé complet de celle-ci. Si la requête utilise `resolve_references=true`, alors cette propriété contient l'intitulé complet de celle-ci."
        },
        "solution_alt" : {
          "type" : "string",
          "description" : "Intitulé complet de la solution (si celle-ci n'est pas normalisée et comprise dans la taxonomie, la propriété solution valant alors `other`)."
        },
        "summary" : {
          "type" : "string",
          "description" : "Sommaire (texte brut)."
        },
        "bulletin" : {
          "type" : "string",
          "description" : "Numéro de publication au bulletin."
        },
        "files" : {
          "type" : "array",
          "description" : "Liste des fichiers associés à la décision, chaque document étant représenté par un objet de type `fileLink` où `type` contient le type de document (communiqué, note explicative, traduction, rapport, avis de l'avocat général, etc.), `title` son intitulé et `url` contient le lien vers celui-ci.",
          "items" : {
            "$ref" : "#/definitions/fileLink"
          }
        },
        "themes" : {
          "type" : "array",
          "description" : "Liste des matières (ou éléments de titrage) par ordre de maillons (texte brut).",
          "items" : {
            "type" : "string"
          }
        }
      },
      "title" : "Type d'objet `decisionShort`.",
      "description" : "Décrit la version courte d'un décision, telle qu'elle apparait en tant qu'item de résultat de recherche.\n\nRappel : le texte intégral et les zones qu'il contient ne sont pas inclus dans les résultats de la recherche. La récupération d'une décision complète (incluant les zones) repose sur le point d'entrée `GET /decision`.",
      "example" : {
        "id" : "5fca7d162a251e6bf9c78514",
        "jurisdiction" : "cc",
        "chamber" : "civ3",
        "number" : "17-18.194",
        "numbers" : [ "17-18.194", "16-21.165" ],
        "ecli" : "ECLI:FR:CCASS:2018:C301117",
        "formation" : "fs",
        "publication" : [ "c", "b" ],
        "decision_date" : "2018-12-20",
        "type" : "arret",
        "solution" : "rejet",
        "summary" : "Le titulaire d'une autorisation temporaire d'occupation, en vigueur au moment de la procédure d'expropriation, est en droit d'obtenir l'indemnisation de son préjudice résultant de l'expropriation",
        "themes" : [ "Expropriation pour cause d'utilité publique", "Indemnité", "Préjudice", "Réparation", "Cas", "Titulaire d'une autorisation temporaire d'occupation en vigueur" ]
      }
    },
    "searchHighlight" : {
      "type" : "object",
      "required" : [ "key", "value" ],
      "properties" : {
        "key" : {
          "type" : "string",
          "description" : "Nom du champ (`text` pour le texte entier) ou de la zone contenant le segment (par exemple : `expose`, `dispositif`, `summary`, etc.). Il peut y avoir plusieurs segments par zone."
        },
        "value" : {
          "type" : "array",
          "description" : "Liste des segments de texte contenant une ou plusieurs correspondances.",
          "items" : {
            "type" : "string"
          }
        }
      },
      "title" : "Type d'objet `searchHighlight`.",
      "description" : "Décrit un fragment de résultat contenant une correspondance avec la recherche saisie.",
      "example" : {
        "dispositif" : [ "un <em>exemple</em> de fragment" ]
      }
    },
    "decisionLink" : {
      "type" : "object",
      "required" : [ "title" ],
[...]
