{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a JSON API compliant implementation",
    "version" : "0.1",
    "title" : "Justice back"
  },
  "host" : "sandbox-api.piste.gouv.fr",
  "basePath" : "/minju/v1/Justiceback",
  "tags" : [ {
    "name" : "Contenu - Carto - mon besoin",
    "description" : "Type de contenu Carto - mon besoin of type Contenu. ",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--carto_mon_besoin"
    }
  }, {
    "name" : "Contenu - Commune",
    "description" : "Type de contenu Commune of type Contenu. La base officielle des codes postaux est un jeu de données qui fournit la correspondance entre les codes postaux et les codes INSEE des communes, de France (métropole et DOM), des TOM, ainsi que de MONACO.\r\nCe jeu de données comprend :\r\n- Le nom de la commune\r\n- Le code INSEE de la commune\r\n- La ligne 5 de l'adresse postale : précision du lieu-dit associé ou du nom de la commune déléguée associée\r\n- Le code postal de la commune\r\n- Le libellé d’acheminement",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--commune"
    }
  }, {
    "name" : "Contenu - Constante simulateur",
    "description" : "Type de contenu Constante simulateur of type Contenu. Type de contenu pour stocker les constantes des simulateurs",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--constante_simulateur"
    }
  }, {
    "name" : "Contenu - Fiche DILA",
    "description" : "Type de contenu Fiche DILA of type Contenu. Type de contenu des fiches DILA",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--fiche_dila"
    }
  }, {
    "name" : "Contenu - Zoom sur",
    "description" : "Type de contenu Zoom sur of type Contenu. ",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--focuson_article"
    }
  }, {
    "name" : "Contenu - Lieu de justice",
    "description" : "Type de contenu Lieu de justice of type Contenu. Type de contenu des lieux de justice",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--lieu_de_justice"
    }
  }, {
    "name" : "Contenu - Divers",
    "description" : "Type de contenu Divers of type Contenu. Type de contenu \"miscellaneous\". Table technique pour la fonctionnalité de recherche transverse.",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--miscellaneous"
    }
  }, {
    "name" : "Contenu - Numéro utile",
    "description" : "Type de contenu Numéro utile of type Contenu. Type de contenu des numéros utiles",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--numero_utile"
    }
  }, {
    "name" : "Contenu - Simulateur pension alimentaire",
    "description" : "Type de contenu Simulateur pension alimentaire of type Contenu. Type de contenu du simulateur pension alimentaire",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--sim_pension_alimentaire"
    }
  }, {
    "name" : "Contenu - Simulateur aide juridictionnelle",
    "description" : "Type de contenu Simulateur aide juridictionnelle of type Contenu. Type de contenu du simulateur aide juridictionnelle",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--simulateur_aide_juridique"
    }
  }, {
    "name" : "Contenu - Simulateur saisie sur salaire",
    "description" : "Type de contenu Simulateur saisie sur salaire of type Contenu. Type de contenu du simulateur saisie sur salaire",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--simulateur_saisie_salaire"
    }
  }, {
    "name" : "Contenu - Site institutionnel",
    "description" : "Type de contenu Site institutionnel of type Contenu. ",
    "x-entity-type" : "node",
    "x-definition" : {
      "$ref" : "#/definitions/node--websitelink"
    }
  }, {
    "name" : "Terme de taxonomie - Type organisme",
    "description" : "Vocabulaire Type organisme of type Terme de taxonomie. Type organisme utilisé notamment dans les lieux de justice",
    "x-entity-type" : "taxonomy_term",
    "x-definition" : {
      "$ref" : "#/definitions/taxonomy_term--type_organisme"
    }
  } ],
  "schemes" : [ "https", "http" ],
  "consumes" : [ "application/vnd.api+json" ],
  "produces" : [ "application/vnd.api+json" ],
  "security" : [ {
    "SecurityProfile.OAuthApplication" : [ "openid" ]
  } ],
  "paths" : {
    "/node/constante_simulateur" : {
      "get" : {
        "tags" : [ "Contenu - Constante simulateur" ],
        "summary" : "List (Contenu - Constante simulateur)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--constante_simulateur resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/constante_simulateur",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--constante_simulateur/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:constante_simulateur Schema",
              "description" : "Type de contenu pour stocker les constantes des simulateurs"
            }
          }
        }
      }
    },
    "/node/websitelink" : {
      "get" : {
        "tags" : [ "Contenu - Site institutionnel" ],
        "summary" : "List (Contenu - Site institutionnel)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--websitelink resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/websitelink",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--websitelink/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:websitelink Schema",
              "description" : "Describes the payload for 'node' entities of the 'websitelink' bundle."
            }
          }
        }
      }
    },
    "/node/simulateur_saisie_salaire" : {
      "get" : {
        "tags" : [ "Contenu - Simulateur saisie sur salaire" ],
        "summary" : "List (Contenu - Simulateur saisie sur salaire)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--simulateur_saisie_salaire resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/simulateur_saisie_salaire",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--simulateur_saisie_salaire/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:simulateur_saisie_salaire Schema",
              "description" : "Type de contenu du simulateur saisie sur salaire"
            }
          }
        }
      }
    },
    "/node/lieu_de_justice" : {
      "get" : {
        "tags" : [ "Contenu - Lieu de justice" ],
        "summary" : "List (Contenu - Lieu de justice)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--lieu_de_justice resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/lieu_de_justice",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "field_ldj_type_organisme"
        }, {
          "name" : "jsonapi_include",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--lieu_de_justice/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:lieu_de_justice Schema",
              "description" : "Type de contenu des lieux de justice"
            }
          }
        }
      }
    },
    "/node/focuson_article/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Zoom sur" ],
        "summary" : "View (Contenu - Zoom sur)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--focuson_article resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/focuson_article/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node focuson_article",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--focuson_article"
            }
          }
        }
      }
    },
    "/node/numero_utile/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Numéro utile" ],
        "summary" : "View (Contenu - Numéro utile)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--numero_utile resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/numero_utile/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node numero_utile",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--numero_utile"
            }
          }
        }
      }
    },
    "/node/focuson_article" : {
      "get" : {
        "tags" : [ "Contenu - Zoom sur" ],
        "summary" : "List (Contenu - Zoom sur)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--focuson_article resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/focuson_article",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--focuson_article/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:focuson_article Schema",
              "description" : "Describes the payload for 'node' entities of the 'focuson_article' bundle."
            }
          }
        }
      }
    },
    "/node/carto_mon_besoin" : {
      "get" : {
        "tags" : [ "Contenu - Carto - mon besoin" ],
        "summary" : "List (Contenu - Carto - mon besoin)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--carto_mon_besoin resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/carto_mon_besoin",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "field_cmb_organism_types"
        }, {
          "name" : "jsonapi_include",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--carto_mon_besoin/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:carto_mon_besoin Schema",
              "description" : "Describes the payload for 'node' entities of the 'carto_mon_besoin' bundle."
            }
          }
        }
      }
    },
    "/node/websitelink/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Site institutionnel" ],
        "summary" : "View (Contenu - Site institutionnel)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--websitelink resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/websitelink/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node websitelink",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--websitelink"
            }
          }
        }
      }
    },
    "/node/numero_utile" : {
      "get" : {
        "tags" : [ "Contenu - Numéro utile" ],
        "summary" : "List (Contenu - Numéro utile)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--numero_utile resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/numero_utile",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--numero_utile/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:numero_utile Schema",
              "description" : "Type de contenu des numéros utiles"
            }
          }
        }
      }
    },
    "/node/simulateur_saisie_salaire/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Simulateur saisie sur salaire" ],
        "summary" : "View (Contenu - Simulateur saisie sur salaire)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--simulateur_saisie_salaire resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/simulateur_saisie_salaire/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node simulateur_saisie_salaire",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--simulateur_saisie_salaire"
            }
          }
        }
      }
    },
    "/node/commune/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Commune" ],
        "summary" : "View (Contenu - Commune)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--commune resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/commune/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node commune",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--commune"
            }
          }
        }
      }
    },
    "/node/miscellaneous" : {
      "get" : {
        "tags" : [ "Contenu - Divers" ],
        "summary" : "List (Contenu - Divers)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--miscellaneous resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/miscellaneous",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--miscellaneous/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:miscellaneous Schema",
              "description" : "Type de contenu \\\"miscellaneous\\\". Table technique pour la fonctionnalité de recherche transverse."
            }
          }
        }
      }
    },
    "/node/simulateur_aide_juridique/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Simulateur aide juridictionnelle" ],
        "summary" : "View (Contenu - Simulateur aide juridictionnelle)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--simulateur_aide_juridique resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/simulateur_aide_juridique/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node simulateur_aide_juridique",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--simulateur_aide_juridique"
            }
          }
        }
      }
    },
    "/node/miscellaneous/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Divers" ],
        "summary" : "View (Contenu - Divers)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--miscellaneous resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/miscellaneous/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node miscellaneous",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--miscellaneous"
            }
          }
        }
      }
    },
    "/taxonomy_term/type_organisme/{entity}" : {
      "get" : {
        "tags" : [ "Terme de taxonomie - Type organisme" ],
        "summary" : "View (Terme de taxonomie - Type organisme)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the taxonomy_term--type_organisme resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /taxonomy_term/type_organisme/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the taxonomy_term type_organisme",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/taxonomy_term--type_organisme"
            }
          }
        }
      }
    },
    "/node/fiche_dila/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Fiche DILA" ],
        "summary" : "View (Contenu - Fiche DILA)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--fiche_dila resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/fiche_dila/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node fiche_dila",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--fiche_dila"
            }
          }
        }
      }
    },
    "/node/carto_mon_besoin/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Carto - mon besoin" ],
        "summary" : "View (Contenu - Carto - mon besoin)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--carto_mon_besoin resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/carto_mon_besoin/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node carto_mon_besoin",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--carto_mon_besoin"
            }
          }
        }
      }
    },
    "/node/lieu_de_justice/{entity}/field_ldj_type_organisme" : {
      "get" : {
        "tags" : [ "Contenu - Lieu de justice" ],
        "summary" : "Related: field_ldj_type_organisme (Terme de taxonomie - Type organisme)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Related endpoint</a></em> for the taxonomy_term--type_organisme resource type through the <em class=\"placeholder\">field_ldj_type_organisme</em> relationship. The related endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular related resource or entity.",
        "operationId" : "GET /node/lieu_de_justice/{entity}/field_ldj_type_organisme",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node lieu_de_justice",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/taxonomy_term--type_organisme"
            }
          }
        }
      }
    },
    "/node/fiche_dila" : {
      "get" : {
        "tags" : [ "Contenu - Fiche DILA" ],
        "summary" : "List (Contenu - Fiche DILA)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--fiche_dila resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/fiche_dila",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--fiche_dila/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:fiche_dila Schema",
              "description" : "Type de contenu des fiches DILA"
            }
          }
        }
      }
    },
    "/node/commune" : {
      "get" : {
        "tags" : [ "Contenu - Commune" ],
        "summary" : "List (Contenu - Commune)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--commune resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/commune",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--commune/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:commune Schema",
              "description" : "La base officielle des codes postaux est un jeu de données qui fournit la correspondance entre les codes postaux et les codes INSEE des communes, de France (métropole et DOM), des TOM, ainsi que de MONACO.\r\nCe jeu de données comprend :\r\n- Le nom de la commune\r\n- Le code INSEE de la commune\r\n- La ligne 5 de l\\'adresse postale : précision du lieu-dit associé ou du nom de la commune déléguée associée\r\n- Le code postal de la commune\r\n- Le libellé d’acheminement"
            }
          }
        }
      }
    },
    "/node/sim_pension_alimentaire/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Simulateur pension alimentaire" ],
        "summary" : "View (Contenu - Simulateur pension alimentaire)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--sim_pension_alimentaire resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/sim_pension_alimentaire/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node sim_pension_alimentaire",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--sim_pension_alimentaire"
            }
          }
        }
      }
    },
    "/taxonomy_term/type_organisme" : {
      "get" : {
        "tags" : [ "Terme de taxonomie - Type organisme" ],
        "summary" : "List (Terme de taxonomie - Type organisme)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the taxonomy_term--type_organisme resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /taxonomy_term/type_organisme",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/taxonomy_term--type_organisme/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "taxonomy_term:type_organisme Schema",
              "description" : "Describes the payload for 'taxonomy_term' entities of the 'type_organisme' bundle."
            }
          }
        }
      }
    },
    "/node/constante_simulateur/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Constante simulateur" ],
        "summary" : "View (Contenu - Constante simulateur)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--constante_simulateur resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/constante_simulateur/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node constante_simulateur",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--constante_simulateur"
            }
          }
        }
      }
    },
    "/node/lieu_de_justice/{entity}" : {
      "get" : {
        "tags" : [ "Contenu - Lieu de justice" ],
        "summary" : "View (Contenu - Lieu de justice)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Individual endpoint</a></em> for the node--lieu_de_justice resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular resource or entity.",
        "operationId" : "GET /node/lieu_de_justice/{entity}",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "entity",
          "in" : "path",
          "description" : "The uuid of the node lieu_de_justice",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/node--lieu_de_justice"
            }
          }
        }
      }
    },
    "/node/simulateur_aide_juridique" : {
      "get" : {
        "tags" : [ "Contenu - Simulateur aide juridictionnelle" ],
        "summary" : "List (Contenu - Simulateur aide juridictionnelle)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--simulateur_aide_juridique resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/simulateur_aide_juridique",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--simulateur_aide_juridique/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:simulateur_aide_juridique Schema",
              "description" : "Type de contenu du simulateur aide juridictionnelle"
            }
          }
        }
      }
    },
    "/node/sim_pension_alimentaire" : {
      "get" : {
        "tags" : [ "Contenu - Simulateur pension alimentaire" ],
        "summary" : "List (Contenu - Simulateur pension alimentaire)",
        "description" : "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Collection endpoint</a></em> for the node--sim_pension_alimentaire resource type. Collections are a list of <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource objects</a></em> for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "operationId" : "GET /node/sim_pension_alimentaire",
        "produces" : [ "application/vnd.api+json" ],
        "parameters" : [ {
          "name" : "filter[filter-name][condition][path]",
          "in" : "query",
          "description" : "Name of the field used in filter (e.g. \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string",
          "default" : "changed"
        }, {
          "name" : "filter[filter-name][condition][operator]",
          "in" : "query",
          "description" : "Url encoded operator (e.g. \">=\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "%3E%3D"
        }, {
          "name" : "filter[filter-name][condition][value]",
          "in" : "query",
          "description" : "Value of filter (e.g. timestamp for \"changed\"). <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/filtering\">Learn more in the documentation</a>",
          "required" : false,
          "type" : "string",
          "default" : "1700058213"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "page[offset]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "page[limit]",
          "in" : "query",
          "description" : "Pagination can be a deceptively complex topic. It's easy to fall into traps and not follow best-practices. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Embed related entities in the response. For example: use a query string like <code>?include=comments.author</code> to include all the entities referenced by <code>comments</code> and all the entities referenced by <code>author</code> on those entities!. <a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\">Learn more in the documentation</a>.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "required" : [ "data" ],
              "properties" : {
                "jsonapi" : {
                  "type" : "object",
                  "description" : "An object describing the server's implementation",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "version" : {
                      "type" : "string"
                    }
                  }
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/node--sim_pension_alimentaire/properties/data"
                  }
                },
                "meta" : {
                  "type" : "object",
                  "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                },
                "links" : {
                  "type" : "object",
                  "properties" : {
                    "meta" : {
                      "type" : "object",
                      "description" : "Non-standard meta-information that can not be represented as an attribute or relationship."
                    },
                    "href" : {
                      "type" : "string",
                      "format" : "uri - reference",
                      "description" : "A string containing the link's URL . "
                    }
                  }
                }
              },
              "title" : "node:sim_pension_alimentaire Schema",
              "description" : "Type de contenu du simulateur pension alimentaire"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "SecurityProfile.OAuthApplication" : {
      "description" : "OAuth",
      "type" : "oauth2",
      "tokenUrl" : "https://sandbox-oauth.piste.gouv.fr/api/oauth/token",
      "flow" : "application",
      "scopes" : {
        "openid" : ""
      }
    }
  },
  "definitions" : {
    "node--lieu_de_justice" : {
      "type" : "object",
      "required" : [ "data" ],
      "properties" : {
        "data" : {
          "type" : "object",
          "description" : "\\\"Resource objects\\\" appear in a JSON:API document to represent resources.",
          "properties" : {
            "type" : {
              "type" : "string",
              "description" : "Type de ressource",
              "title" : "type",
              "enum" : [ "node--lieu_de_justice" ]
            },
            "id" : {
              "type" : "string",
              "format" : "uuid",
              "title" : "Resource ID",
              "maxLength" : 128
            },
            "attributes" : {
              "type" : "object",
              "description" : "Entity attributes",
              "properties" : {
                "drupal_internal__nid" : {
                  "type" : "integer",
                  "title" : "Identifiant (ID)"
                },
                "status" : {
                  "type" : "boolean",
                  "title" : "Publié",
                  "default" : true
                },
                "title" : {
                  "type" : "string",
                  "title" : "Titre",
                  "maxLength" : 255
                },
                "created" : {
                  "type" : "number",
                  "format" : "utc-millisec",
                  "description" : "L\\'heure à laquelle le nœud a été créé.",
                  "title" : "Écrit le"
                },
                "changed" : {
                  "type" : "number",
                  "format" : "utc-millisec",
                  "description" : "La date à laquelle le nœud a été modifié pour la dernière fois.",
                  "title" : "Modifié"
                },
                "moderation_state" : {
                  "type" : "string",
                  "description" : "L\\'état de modération de cet élément de contenu.",
                  "title" : "État de modération",
                  "maxLength" : 255
                },
                "field_ldj_adresse" : {
                  "type" : "string",
                  "title" : "Adresse"
                },
                "field_ldj_courriel" : {
                  "type" : "string",
                  "title" : "Courriel",
                  "maxLength" : 255
                },
                "field_ldj_ee_id" : {
                  "type" : "string",
                  "description" : "Champ technique contenant la colonne ee_id des lieux de justice. Pour pouvoir les identifier plus facilement dans le batch.",
                  "title" : "ee_id",
                  "maxLength" : 255
                },
                "field_ldj_gps_lat" : {
                  "type" : "string",
                  "title" : "Coordonnées GPS (latitude)"
                },
                "field_ldj_gps_lgn" : {
                  "type" : "string",
                  "title" : "Coordonnées GPS (longitude)"
                },
                "field_ldj_horaire" : {
                  "type" : "string",
                  "title" : "Horaire"
                },
                "field_ldj_telephone" : {
                  "type" : "string",
                  "title" : "Téléphone",
                  "maxLength" : 255
                }
              },
              "required" : [ "field_ldj_gps_lat", "field_ldj_gps_lgn", "title" ]
            },
            "relationships" : {
              "type" : "object",
              "description" : "Entity relationships",
              "properties" : {
                "node_type" : {
                  "type" : "object",
                  "title" : "Type de contenu",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "type" : {
                          "type" : "string",
                          "title" : "Referenced resource",
                          "enum" : [ "node_type--node_type" ]
                        },
                        "id" : {
                          "type" : "string",
                          "format" : "uuid",
                          "title" : "Resource ID",
                          "maxLength" : 128
                        }
                      },
                      "required" : [ "id", "type" ]
                    }
                  }
                },
                "revision_uid" : {
                  "type" : "object",
                  "title" : "Révision utilisateur",
                  "properties" : {
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "type" : {
                          "type" : "string",
                          "title" : "Referenced resource",
                          "enum" : [ "user--user" ]
                        },
                        "id" : {
                          "type" : "string",
                          "format" : "uuid",
                          "title" : "Resource ID",
                          "maxLength" : 128
                        }
                      },
                      "required" : [ "id", "type" ]
                    }
                  }
                },
[...]
